body {
  border: 1px solid black;
  margin: 12px;
}
h2 {
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
}
span {
  margin: 5px;
}
hr.vertical {
  height: 100%;
  width: 0%;
}
.label1 {
  color: black;
  font-size: 25px;
  font-weight: normal;
}
.label {
  color: black;
  font-size: 15px;
  font-weight: lighter;
}
#contact {
  width: 50%;
}
.table {
  margin-bottom: 24px;
  margin-left: 36px;
  padding: 25px;
}
#phone , #arrow , #check ,#card ,#calendar , #calendar1 , #user , #carrier, #office{
  float: right;
}
.section2 {
  display: none;
}
